@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  /* persion */

  /* @font-face {
      font-family: yekanBakh;
      font-weight: 100;
      font-style: normal;
      src: url('../assets/fonts/Yekan_Bakh_Thin.TTF');
      font-display: swap;
  } */
  @font-face {
    font-family: yekanBakh;
    font-weight: 300;
    font-style: normal;
    src: url("../assets/fonts/Yekan_Bakh_Light.otf");
    font-display: swap;
  }

  @font-face {
    font-family: yekanBakh;
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/Yekan_Bakh_Regular.otf");
    font-display: swap;
  }

  @font-face {
    font-family: yekanBakh;
    font-weight: 500;
    font-style: normal;
    src: url("../assets/fonts/Yekan_Bakh_Medium.otf");
    font-display: swap;
  }

  /* @font-face {
      font-family: yekanBakh;
      font-weight:600;
      font-style: normal;
      src: url('../assets/fonts/Yekan_Bakh_Semi_Bold.TTF');
      font-display: swap;
  } */
  @font-face {
    font-family: yekanBakh;
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/Yekan_Bakh_Bold.otf");
    font-display: swap;
  }

  /* @font-face {
      font-family: yekanBakh;
      font-weight: 800;
      font-style: normal;
      src: url('../assets/fonts/Yekan_Bakh_Extra_Bold.TTF');
      font-display: swap;
  } */

  /* english */

  /* SpaceGrotesk */

  @font-face {
    font-family: spaceGrotesk;
    font-weight: 300;
    font-style: normal;
    src: url("../assets/fonts/SpaceGrotesk-Light.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: spaceGrotesk;
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/SpaceGrotesk-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: spaceGrotesk;
    font-weight: 500;
    font-style: normal;
    src: url("../assets/fonts/SpaceGrotesk-Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: spaceGrotesk;
    font-weight: 600;
    font-style: normal;
    src: url("../assets/fonts/SpaceGrotesk-SemiBold.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: spaceGrotesk;
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/SpaceGrotesk-Bold.ttf");
    font-display: swap;
  }

  /* Satoshi */
  @font-face {
    font-family: satoshi;
    font-weight: 300;
    font-style: normal;
    src: url("../assets/fonts/Satoshi-Light.otf");
    font-display: swap;
  }

  @font-face {
    font-family: satoshi;
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/Satoshi-Regular.otf");
    font-display: swap;
  }

  @font-face {
    font-family: satoshi;
    font-weight: 500;
    font-style: normal;
    src: url("../assets/fonts/Satoshi-Medium.otf");
    font-display: swap;
  }

  @font-face {
    font-family: satoshi;
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/Satoshi-Bold.otf");
    font-display: swap;
  }
}

/* my styles */

@layer utilities {
  .right-to-left {
    direction: rtl;
  }

  .left-to-right {
    direction: ltr;
  }

  .width-theme {
    width: 100rem;
  }

  .review-box-shadow-gradiant {
    background: linear-gradient(90deg, #9175EA 33.33%, #CC6E3C 33.33%);
  }



  .element-with-marquee {
    animation: marquee 100s linear infinite;
  }

  .element-with-marquee2 {
    animation: marquee2 100s linear infinite;
  }

  .animate-marquee {
    animation: marquee 50s linear infinite;
  }

  .animate-marquee2 {
    animation: marquee2 50s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  /* scrollbar */

  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #4c4b58;
    border-radius: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
    height: 28px !important;
  }

  /* remove scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@theme {

  /* Fonts */

  --font-yekanBakh: yekanBakh;
  --font-spaceGrotesk: spaceGrotesk;
  --font-satoshi: satoshi;

  /* Colors */

  --color-theme: rgba(31, 30, 46, 1);
  --color-background: rgba(31, 30, 46, 1);
  --color-background-light: rgba(40, 38, 58, 1);

  /* warning */
  --color-Warning-600: rgba(215, 187, 30, 1);
  --color-Warning-500: rgba(215, 187, 30, 1);
  --color-Warning-400: rgba(229, 205, 67, 1);
  --color-Warning-300: rgba(234, 215, 105, 1);
  --color-Warning-200: rgba(239, 225, 142, 1);
  --color-Warning-100: rgba(245, 235, 180, 1);
  --color-Warning-50: rgba(245, 235, 180, 1);

  /* Success */
  --color-Success-600: rgba(45, 215, 30, 1);
  --color-Success-500: rgba(45, 215, 30, 1);
  --color-Success-400: rgba(80, 229, 67, 1);
  --color-Success-300: rgba(115, 234, 105, 1);
  --color-Success-200: rgba(150, 239, 142, 1);
  --color-Success-100: rgba(185, 245, 180, 1);
  --color-Success-50: rgba(220, 250, 217, 1);

  /* Error */
  --color-Error-600: rgba(215, 30, 30, 1);
  --color-Error-500: rgba(215, 30, 30, 1);
  --color-Error-400: rgba(229, 67, 67, 1);
  --color-Error-300: rgba(234, 105, 105, 1);
  --color-Error-200: rgba(239, 142, 142, 1);
  --color-Error-100: rgba(245, 180, 180, 1);
  --color-Error-50: rgba(250, 217, 217, 1);

  /* Secondrary */
  --color-secondary-600: rgba(145, 118, 234, 1);
  --color-secondary-500: rgba(145, 118, 234, 1);
  --color-secondary-400: rgba(180, 162, 241, 1);
  --color-secondary-300: rgba(195, 181, 244, 1);
  --color-secondary-200: rgba(225, 218, 249, 1);
  --color-secondary-100: rgba(240, 236, 252, 1);
  --color-secondary-50: rgba(247, 246, 254, 1);

  /* Neutral */
  --color-Neutral-600: rgba(10, 10, 15, 1);
  --color-Neutral-500: rgba(31, 30, 46, 1);
  --color-Neutral-400: rgba(76, 75, 88, 1);
  --color-Neutral-300: rgba(121, 120, 130, 1);
  --color-Neutral-200: rgba(165, 165, 171, 1);
  --color-Neutral-100: rgba(210, 210, 213, 1);
  --color-Neutral-50: rgba(242, 242, 243, 1);

  /* primary */
  --color-primary-600: rgba(204, 110, 60, 1);
  --color-primary-500: rgba(204, 110, 60, 1);
  --color-primary-400: rgba(229, 124, 67, 1);
  --color-primary-300: rgba(234, 150, 105, 1);
  --color-primary-200: rgba(239, 176, 142, 1);
  --color-primary-100: rgba(245, 203, 180, 1);
  --color-primary-50: rgba(250, 229, 217, 1);

  /* Tertiary */
  --color-Tertiary-600: rgba(83, 145, 208, 1);
  --color-Tertiary-500: rgba(83, 145, 208, 1);
  --color-Tertiary-400: rgba(117, 167, 217, 1);
  --color-Tertiary-300: rgba(152, 189, 227, 1);
  --color-Tertiary-200: rgba(186, 211, 236, 1);
  --color-Tertiary-100: rgba(221, 233, 246, 1);
  --color-Tertiary-50: rgba(237, 244, 250, 1);

  /* Responsive */

  /*
      'watch': '12.5rem',  // 200px - Apple Watch
      'xs': '20rem',       // 320px - Small phones (iPhone SE)
      'sm': '22.5rem',     // 360px - Small Android phones
      'md': '30rem',       // 480px - Medium phones
      'lg': '40rem',       // 640px - Large phones and small tablets
      'xl': '48rem',       // 768px - Tablets
      '2xl': '64rem',      // 1024px - Small laptops
      '3xl': '80rem',      // 1280px - Medium laptops
      '4xl': '90rem',      // 1440px - Full HD monitors
      '5xl': '120rem',     // 1920px - Large screens (Full HD)
      '6xl': '160rem',     // 2560px - 2K monitors
      '7xl': '240rem',     // 3840px - 4K monitors
      '8xl': '480rem',     // 7680px - 8K monitors
  */

  --breakpoint-watch: 12.5rem;
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 22.5rem;
  --breakpoint-md: 30rem;
  --breakpoint-lg: 40rem;
  --breakpoint-xl: 48rem;
  --breakpoint-2xl: 64rem;
  --breakpoint-3xl: 80rem;
  --breakpoint-4xl: 90rem;
  --breakpoint-5xl: 120rem;
  --breakpoint-6xl: 160rem;
  --breakpoint-7xl: 240rem;
  --breakpoint-8xl: 480rem;

  /* spacing */

  --spacing-default: 7.25rem;

}




.dev-banner {
  width: 100vw;
  --tw-bg-opacity: 1;
  background-color: rgb(190 18 60 / var(--tw-bg-opacity));
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  position: fixed;
  top: 0;
  z-index: 9999;
}

.mt {
  margin-top: 1.5rem;
}