@import "tailwindcss";

@theme {

  /* color */

  --color-Warning-600: rgba(215, 187, 30, 1);
  --color-Warning-500: rgba(215, 187, 30, 1);
  --color-Warning-400: rgba(229, 205, 67, 1);
  --color-Warning-300: rgba(234, 215, 105, 1);
  --color-Warning-200: rgba(239, 225, 142, 1);
  --color-Warning-100: rgba(245, 235, 180, 1);
  --color-Warning-50: rgba(245, 235, 180, 1);

  --color-Success-600: rgba(245, 235, 180, 1);
  --color-Success-500: rgba(245, 235, 180, 1);
  --color-Success-400: rgba(245, 235, 180, 1);
  --color-Success-300: rgba(245, 235, 180, 1);
  --color-Success-200: rgba(245, 235, 180, 1);
  --color-Success-100: rgba(245, 235, 180, 1);
  --color-Success-50: rgba(245, 235, 180, 1);


}

.dev-banner {
  width: 100vw;
  --tw-bg-opacity: 1;
  background-color: rgb(190 18 60 / var(--tw-bg-opacity));
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  position: fixed;
  top: 0;
  z-index: 9999;
}

.mt {
  margin-top: 1.5rem;
}